@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

/* common classes */
.primary-title {
  font-size: 90px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.primary-button {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}
.primary-button:hover {
  background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64));
  cursor: pointer;
}
.secondary-button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}
.secondary-button:hover {
  color: rgb(48, 48, 48);
  border: solid 2px rgb(48, 48, 48);
  cursor: pointer;
}

/* home page */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105_1280.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.home {
  margin-top: 30vh;
}

/* nav component */
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo-container {
  width: 170px;
  margin: 15px;
}
.nav-logo {
  width: 100px;
  border-radius: 7px;
}
.nav-button {
  color: rgb(254, 48, 114);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in;
  text-decoration: none;
}
.nav-button:hover,
.nav-button:disabled {
  background-color: rgb(181, 180, 180);
  color: rgb(189, 42, 90);
}

/* auth modal component */
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
}
.auth-close-icon {
  float: right;
  cursor: pointer;
  font-size: 24px;
}
.auth-modal-title,
.auth-modal-description {
  margin-bottom: 15px;
}
.auth-modal form {
  display: flex;
  flex-direction: column;
}
.auth-modal input[type="password"],
.auth-modal input[type="email"] {
  padding: 12px 10px;
  margin: 8px;
  font-size: 17px;
  border-radius: 7px;
  outline: none;
}
.form-error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

/* onboarding page */
.onboarding {
  border-top: solid 2px rgb(213, 213, 213);
}
.onboarding-title {
  margin-top: 40px;
  margin-bottom: 20px;
}
.onboarding-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(213, 213, 213);
  width: 60%;
  margin-inline: auto;
  margin-block: 20px;
  border-radius: 7px;
  padding-inline: 50px;
}
.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.form-control label {
  margin-right: 10px;
  font-weight: bold;
}
.form-control input {
  padding: 15px 10px;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
  text-align: left;
  outline: none;
}
.form-control-multiple {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
}
.form-control-multiple label {
  margin-bottom: 10px;
  font-weight: bold;
}
.multiple-input-container {
  display: flex;
}
.form-control-multiple input {
  padding: 15px 10px;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
  text-align: left;
  outline: none;
  width: 30%;
  margin-inline-end: 10px;
}
.form-control-multiple input[type="radio"] {
  display: none;
}
.form-control-multiple input[type="radio"] + label {
  border: solid 2px rgb(213, 213, 213);
  padding: 10px;
  margin-inline-end: 10px;
  border-radius: 5px;
}
.form-control-multiple input[type="radio"]:checked + label {
  border: solid 2px rgb(221, 39, 22);
}
.photo-container img {
  width: 75%;
  border-radius: 7px;
}
.onboarding-button {
  margin-block: 25px;
}

/* dashboard page */
.dashboard {
  display: flex;
  justify-content: space-between;
}
.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.swipe {
  position: absolute;
}
.dashboard .card-container {
  width: 400px;
  height: 650px;
}
.card {
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}
.card h3 {
  margin-top: 0;
}
.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/* chat container component */
.chat-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
}
.chat-container .option {
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 4px rgb(243, 33, 33);
  font-size: 20px;
  margin: 2px;
  padding: 10px;
  cursor: pointer;
}
.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}

/* chat header component */
.chat-container-header {
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-container-profile,
.chat-log-out {
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
}
.chat-container-profile h3 {
  font-size: 18px;
  text-transform: capitalize;
}
.chat-container-img {
  overflow: hidden;
  margin: 10px;
  height: 40px;
  width: 40px;
}
.chat-container-img img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  width: 100%;
  object-fit: cover;
}

/* chat display component */
.chat-display,
.matches-display {
  padding: 20px;
  height: 60vh;
  overflow-y: auto;
}
.match-card {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* chat input component */
.chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.chat-input textarea {
  border-radius: 7px;
  outline: none;
  text-align: left;
  font-size: 16px;
  padding: 4px 8px;
}

/* chat component */
.chat {
  background-color: rgb(233, 230, 230);
  margin-block: 5px;
  border-radius: 5px;
  padding: 5px;
}
.user-chat {
  background-color: antiquewhite;
}
.chat p {
  font-size: 15px;
  text-align: left;
}
.chat-message-header {
  display: flex;
  align-items: center;
}
.chat-message-header p {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
}
